a,
a:focus,
a:hover {
  color: rgb(0, 191, 104);
}

html,
body {
  height: 100%;
  background-color: #fff;
}

body {
  display: -ms-flexbox;
  display: flex;
}

.cover-container {
  max-width: 42em;
}

.cover {
  padding: 0 1.5rem;
}
